* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid black;*/
}

html {
	scroll-behavior: smooth;
}


/*header landing page*/
.landing-page {	
  animation-name: example;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  transition: .5s;

			text-shadow: 1px 1px 15px white;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

@keyframes example{
	0%   {background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/landingbg1.jpg);
	
			background-attachment: fixed;
 	 		background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;

			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;

			/*animation: flipeffect 0.5s linear both;*/


		}
	25%   {background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/landingbg2.jpg);
	
			background-attachment: fixed;
 	 		background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;

			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	50%   {background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/landingbg3.jpg);
	
			background-attachment: fixed;
 	 		background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;

			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	75%   {background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/landingbg4.jpg);
	
			background-attachment: fixed;
 	 		background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;

			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	100%   {background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/landingbg1.jpg);
	
			background-attachment: fixed;
 	 		background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;

			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
}


.slogan {	
	font-family: 'Mansalva', cursive;
	font-size: 80px;
	color: black;
}


.btnSlogan {	
	padding: 10px;
	border-color: black;
	background-color: rgba(17, 136, 114, 0.0);
	color: black;
	border-radius: 50%;
	/*margin-left: 40%;*/
}

.btnSlogan > a {

	font-family: 'Mansalva', cursive;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.btnSlogan > a:hover {
	text-decoration: none;	
	color: black;
}

/*div > .sloganLink {
	text-decoration: none;
	color: green;
	font-size: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}*/

div > .sloganLink:hover{
	text-decoration: none;	
	color: black;
	transform: scale(1.1);
}

.divSlogan:hover{	
	transform: scale(1.1);
}

/*navigation bar*/


#b46Nav {
	width: 100%;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	color: black;
	/*border: 1px solid black;*/
}
#b46Nav > div {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navClass {	
	background-color: rgba(17, 136, 114, 0.5);
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	width: 100%;
	z-index: 1000;
}
.socials {
	font-size: 20px;
	padding: 0 15px;
	margin-right: 100px;
}
.socials a{
  	text-decoration: none !important;
  	color: black;	
}

.quoteBtn {
	padding: 10px;
	border-color: black;
	background-color: rgba(17, 136, 114, 0.0);
	color: black;
	border-radius: 50%;
	margin-left: 100px;
}

.quoteBtn > a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.quoteBtn > a:hover {
	text-decoration: none;
	color: black;
	font-size: 20px;
}


.brandEff {
	font-size: 25px;
	text-shadow: 1px 1px 15px white;
}

.font-mansalva {	
	font-family: 'Mansalva', cursive;
	color: black;
}

.nav-item {
	padding: 0 5px;
	color: black;
	text-transform: uppercase;
}

.nav-item > a:hover{
	/*background-color: red;*/
	transform: scale(1.3);
	color:black;
}

.navbar-brand > .fa-utensils {
	padding-left: 30px;
}

/*Homepage*/
.untieRow{
	padding: 0 !important;
	margin: 0 !important;

	display: flex;
	align-items: center;
	justify-content: center;
}


.secHome {
	height: 100vh;
	width: 100%;
	background-color: whitesmoke;
	/*margin-top: -70px;*/
	/*overflow-x: hidden;*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid green;*/
	/*padding-top: 12vh;*/
}

.secHomeSlider {
	height: 50vh;
	/*width: 40vw;*/
	/*border: 1px solid black;*/

	display: flex;
	align-items: center;
	justify-content: center;
	/*margin: 60px 20px 0 50px;*/
}
.carouselContainer {
	height: 300px;
	width: 400px;
}

.secHomeContent {
	height: auto;
	/*width: 60vw;	*/
	/*border: 1px solid black;*/
	/*margin-top: 60px;*/
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.jumbotron .lead {
	font-family: 'Mansalva', cursive;
	font-size: 30px;
}

.jumbotron p {
	font-family: 'Source Sans Pro', sans-serif;
}

.jumbBtn {
	color: black;
	padding: 5px;
	/*border-radius: 30%;*/
	font-size: 20px;

	background-color: #4D9E9A;
}

.jumbBtn{
  	border-radius: 40px;
  	background-color: whitesmoke;
  }
  .jumbBtn:hover{
  	background-color: #4D9E9A;
  	color: white;
  }

.jumbotron .fa-utensils {
	padding-left: 10px;
}

/*Section Contact US*/

.secContact {

	height: 120vh;

	/*background: url(../images/dropbybg.jpg);*/
	/*background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/dropbybg.jpg);*/
	background-color: white;

	background-attachment: fixed;
 	 background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid black;*/
	flex-direction: column;

}

.secContactDropby {
	height: 12vh;
	width: 100%;
	background: whitesmoke;
	/*radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/dropbybg.jpg);*/

	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

	/*border: 1px solid black;*/
}
.secContactHead {
	height: 30vh;
	width: 100%;
	/*border: 1px solid black;*/

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.secContactAll {
	height: 80vh;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;	

	font-family: 'Mansalva', cursive;
	font-size: 20px;

	/*border: 1px solid black;*/
}

.secContactHead > .font-mansalva-blk{	
	font-family: 'Mansalva', cursive;
	color: black;
	font-size: 35px;
}

.secContactHead p {
	margin: 0;
	padding: 0;	
	font-family: 'Source Sans Pro', sans-serif;
}

.divdiv {
	width: 40%;
	height: 100%;
	/*border: 1px solid black;*/

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	font-family: 'Source Sans Pro', sans-serif;

}
td > .input_date {	
	width: 100%;
}
td > .event_drop {
	width: 100%;
}

td > label {
	padding: 0 30px 5px 0;
}

.btnSendQuote {
	background-color: #4D9E9A;
	border-radius: 30%;
	padding: 5px;
	font-size: 20px;
	font-family: 'Mansalva', cursive;
}

/*Section Services*/

/*.secServices {	
	height: 12vh;
	width: 100%;
	background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/dropbybg.jpg);

	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}*/

.secServices {
	background: radial-gradient(
  			circle,
  			rgba(17, 126, 112, 0.4),
			rgba(0, 88, 255, 0.2)
			), url(../images/servicesbg.jpg);

	background-attachment: fixed;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 12vh;
	padding-bottom: 10vh;
}

.secDivPad {
	width: 80%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	/*border: 1px solid black;*/
}

.secDiv {
	background-color: rgba(17, 126, 112, 0.2);
	background-position: center;
	width: 25%;
	height: 400px;	
	/*border: 1px solid black;*/
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	/*padding: 20px 0;		*/
	transition: 0.5s;	
	border-radius: 20%;
}

.modal-title{	
	font-family: 'Mansalva', cursive;
}
.modal-body{
	
	font-family: 'Source Sans Pro', sans-serif;
}
.modal-footer button{
	width: 100px;
	height: 30px;
	font-size: 15px;
	color: black;
	border-style: none;
	border-radius: 40px;
	/*background-color: rgba(42, 42, 39, 0.96);*/
	background-color: gray;	
	font-family: 'Mansalva', cursive;	
}

/*button*/
.btnIcons {
	width: 100px;
	height: 100px;
	font-size: 50px;
	border-style: none;
	border-radius: 50%;
	background-color: gray;
	color:black;
}

.p2ndDiv {
	padding: 10px 25px;
	color: black;
	font-size: 35px;
}

.secDiv:hover{
	background-color: rgba(17, 126, 112, 0.8);
	transform: scale(1.1);
	text-shadow: 1px 1px 15px #000000;
}

.btnMore {
	width: 100px;
	height: 30px;
	font-size: 15px;
	color: black;
	border-style: none;
	border-radius: 40px;
	/*background-color: rgba(42, 42, 39, 0.96);*/
	background-color: gray;	
	font-family: 'Mansalva', cursive;
}

.btnMore:hover{
	background-color: black;
	color: white;
}

.secDiv .google-font {
	font-family: 'Mansalva', cursive;
}

/*Section Gallery*/

.secGallery {
	height: 250vh;
	width: 100%;
	overflow: hidden;
}
.secGalleryHead{
	width: 100%;
	height: 35vh;
	/*background-color: whitesmoke;*/
	background-color: rgba(17, 126, 112, 0.5);
	padding: 60px 50px 0px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 60px;
	text-align: center;


	font-family: 'Mansalva', cursive;
}
.sectionGalleryBody{	
	width: 100%;
	height: 100vh;
	/*border: 1px solid black;*/
}

.secGalleryBody {
	height: 50%;
	width: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/*flex-direction: column;*/
	/*border: 1px solid green;*/
}
.secGalleryContent{

	height: 100%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid blue;*/


	/*flex-direction: column;*/
	/*background-color: whitesmoke;*/
}

.secGalleryContentHead{
	width: 30%;
	height: 100%;	

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

	font-family: 'Mansalva', cursive;
	padding-right: 20px;
}
.secGalleryContentHead h1 {
	font-size: 40px;
}

.secGalleryContentHead p {	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 19px;
}

.secGalleryDetails{
	width: 70%;
	height: 100%;	
}
.secGalleryDetailsImg{

	width: 100%;
	height: 100%;
	/*display: flex;*/
	align-items: center;
	padding-top: 20px;
	/*overflow: hidden;*/
	/*justify-content: center;	*/
}
/*.secGalleryDetailsText{

	width: 100%;
	height: 20%;
	border: 1px solid black;
}*/
.z {
	width: 200px;
	height: 200px;
	position: relative;
	margin-bottom: 20px;

	opacity: 0.5;
	transition: 0.5s;
}

.img1 {
	background: url(../images/corp1.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.img2 {
	background: url(../images/corp2.jpg);
	background-size: cover;
	background-position: center;
	z-index: 2;
}
.img3 {
	background: url(../images/corp3.jpg);
	background-size: cover;
	background-position: center;
	z-index: 3;
}
.img4 {
	background: url(../images/corp4.jpg);
	background-size: cover;
	background-position: center;
	z-index: 4;
}
.img5 {
	background: url(../images/corp5.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
.img6 {
	background: url(../images/corp6.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}

/*artists*/
.art1 {
	background: url(../images/artist1.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.art2 {
	background: url(../images/artist2.jpg);
	background-size: cover;
	background-position: center;
	z-index: 2;
}
.art3 {
	background: url(../images/artist3.jpg);
	background-size: cover;
	background-position: center;
	z-index: 3;
}
.art4 {
	background: url(../images/artist4.jpg);
	background-size: cover;
	background-position: center;
	z-index: 4;
}
.art5 {
	background: url(../images/artist5.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
.art6 {
	background: url(../images/artist6.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
/*kiddie party*/
.kid1 {
	background: url(../images/kid1.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.kid2 {
	background: url(../images/kid2.jpg);
	background-size: cover;
	background-position: center;
	z-index: 2;
}
.kid3 {
	background: url(../images/kid3.jpg);
	background-size: cover;
	background-position: center;
	z-index: 3;
}
.kid4 {
	background: url(../images/kid4.jpg);
	background-size: cover;
	background-position: center;
	z-index: 4;
}
.kid5 {
	background: url(../images/kid5.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
.kid6 {
	background: url(../images/kid6.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
/*Food etc*/
.food1 {
	background: url(../images/food1.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.food2 {
	background: url(../images/food2.jpg);
	background-size: cover;
	background-position: center;
	z-index: 2;
}
.food3 {
	background: url(../images/food3.jpg);
	background-size: cover;
	background-position: center;
	z-index: 3;
}
.food4 {
	background: url(../images/food4.jpg);
	background-size: cover;
	background-position: center;
	z-index: 4;
}
.food5 {
	background: url(../images/food5.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
.food6 {
	background: url(../images/food6.jpg);
	background-size: cover;
	background-position: center;
	z-index: 5;
}
.z:hover {
	z-index: 100;
	opacity: 1;
	transform: scale(1.3);
}
.capStyle{
	font-family: 'Mansalva', cursive;
	font-size: 35px;
}
.secGalleryDetailsText2{
	position: relative;
	bottom: 272px;
	left: 125px;
}
.secGalleryDetailsText3{
	position: relative;
	bottom: 544px;
	left: 250px;
}
.secGalleryDetailsText4{
	position: relative;
	bottom: 816px;
	left: 375px;
}
.secGalleryDetailsText5{
	position: relative;
	bottom: 1088px;
	left: 500px;
}
.secGalleryDetailsText6{
	position: relative;
	bottom: 1360px;
	left: 625px;
}
.caption1{
	margin-left: 35%;
}
.caption2{
	margin-left: 20%;
}
.caption3{
	margin-left: 5%;
}
.caption4{
	margin-left: -10%;
}
.caption5{
	margin-left: -25%;
}
.caption6{
	margin-left: -40%;
}
/*corporate details*/
.secGalleryDetailsText:hover .captions1:before{
  content:"Phantom of the Opera!";}
.secGalleryDetailsText2:hover .captions2:before{
  content:"Garden Theme";}
.secGalleryDetailsText3:hover .captions3:before{
  content:"Americana Theme!";}
.secGalleryDetailsText4:hover .captions4:before{
  content:"Under the Sea!";}
.secGalleryDetailsText5:hover .captions5:before{
  content:"Gold / Balloons!";}
.secGalleryDetailsText6:hover .captions6:before{
  content:"Glow Party!";}
 /*artist details*/
.secGalleryDetailsText:hover .artCap1:before{
  content:"Singer!";}
.secGalleryDetailsText2:hover .artCap2:before{
  content:"Band!";}
.secGalleryDetailsText3:hover .artCap3:before{
  content:"Dancer!";}
.secGalleryDetailsText4:hover .artCap4:before{
  content:"DJ!";}
.secGalleryDetailsText5:hover .artCap5:before{
  content:"Comedian!";}
.secGalleryDetailsText6:hover .artCap6:before{
  content:"Clown!";}
 /*kiddie details*/
.secGalleryDetailsText:hover .kidCap1:before{
  content:"Little Mermaid!";}
.secGalleryDetailsText2:hover .kidCap2:before{
  content:"Stary Stary Night!";}
.secGalleryDetailsText3:hover .kidCap3:before{
  content:"Princess!";}
.secGalleryDetailsText4:hover .kidCap4:before{
  content:"Mickey Mouse!";}
.secGalleryDetailsText5:hover .kidCap5:before{
  content:"Toy Story!";}
.secGalleryDetailsText6:hover .kidCap6:before{
  content:"Minions!";}
 /*food details*/
.secGalleryDetailsText:hover .foodCap1:before{
  content:"Japanese Food!";}
.secGalleryDetailsText2:hover .foodCap2:before{
  content:"Filipino Food!";}
.secGalleryDetailsText3:hover .foodCap3:before{
  content:"Chinese Food!";}
.secGalleryDetailsText4:hover .foodCap4:before{
  content:"American Food!";}
.secGalleryDetailsText5:hover .foodCap5:before{
  content:"Italian Food!";}
.secGalleryDetailsText6:hover .foodCap6:before{
  content:"Korean Food!";}


  .secGalleryContentHead > .btnIcons {  	
	background-color: rgba(17, 126, 112, 0.5);
  }

  .btnSendQuote{
  	border-radius: 40px;
  	background-color: whitesmoke;
  }
  .btnSendQuote:hover{
  	background-color: #4D9E9A;
  	color: white;
  }


  .secFooter{
  	height: auto;
  	width: 100%;
  	background-color: rgba(17, 126, 112, 0.5);
  	padding: 5vh 0;

  }
  .secFooterContent{
  	width: 100%;
  	height: auto;  	
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }
  .secFooterIcons{
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  .secFooterIcons a{
  	text-decoration: none !important;
  	color: black;
  }
  .footerIcon{
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	margin: 0 25px;
  }
  .footerIcon i{
  	font-size: 35px;
  }

  .footerIcon span{
  	font-size: 10px;
  }
  .footerTagline{
  	margin-top: 20px;
  }
  .hrstyle{
  	border: 2px solid black;
  	border-radius: 40px;
  	width: 150vh;
  }
  .footerContact{
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  .footerMargin{
  	margin: 0 10px;
  }
  .footerCredits{
  	font-size: 10px;
  }

	/*Tablet*/
@media only screen and (min-width: 415px) and (max-width: 1024px){
	

	.secGalleryBody {
		height: 52vh;
	}
	.secGalleryContentHead{
		height: 25vh;
		width: 100%;
		padding: 0;
	}
	.secGalleryDetails{
		height: 25vh;
		width: 100%;
		padding: 0;
		padding-left: 2vh;
	}
	.secGalleryContent {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.secGalleryContentReverse{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}
	.z{
	width: 150px;
	height: 150px;
	position: relative;
	margin-bottom: 20px;

	opacity: 0.5;
	transition: 0.5s;
	}
	.secGalleryDetailsText2{
	position: relative;
	bottom: 222px;
	left: 100px;
	}
	.secGalleryDetailsText3{
		position: relative;
		bottom: 444px;
		left: 200px;
	}
	.secGalleryDetailsText4{
		position: relative;
		bottom: 666px;
		left: 300px;
	}
	.secGalleryDetailsText5{
		position: relative;
		bottom: 888px;
		left: 400px;
	}
	.secGalleryDetailsText6{
		position: relative;
		bottom: 1110px;
		left: 500px;
	}

	.secContactAll{
		height: auto;
		display: flex;
		flex-direction: column;

	}
	.divdiv{
		/*border: 1px solid black;*/
		height: 80vh;
		width: 80%;
	}
	.socials{
		display: none;
	}
	.quote{
		display: none;
	}

	#b46Nav > div{
		align-items: left;
		justify-content: left;
	}
	.secHome{
		height: auto;
		padding-top: 4vh;
	/*margin-top: -12vh;*/
	}
	#b46Nav {
	padding-top: 20px;
	background-color: rgba(17, 136, 114, 0.5);
	}
	.nav-item > a:hover{
	/*background-color: red;*/
	transform: scale(1.0);
	color:black;
	}

  .hrstyle{
  	width: 95vw;
  	}
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


/*S5*/
@media only screen and (max-width: 414px){

	.slogan{
		font-family: 'Mansalva', cursive;
		font-size: 40px;
		color: black;

	}

	.carouselContainer {
		height: 200px;
		width: 300px;
	}
	.secServices{
		height: auto;
	}
	.secGallery{
		height: 325vh;
		/*border: 1px solid black;*/
	}

	.secGalleryHead > h1{
	font-size: 22px;
	}
	.secGalleryHead > h3{
	font-size: 15px;
	}
	.secGalleryHead{
		margin-bottom: 0;
	}

	.secGalleryBody {
		height: 72vh;
		/*border: 1px solid black;*/
	}
	.secGalleryContentHead{
		height: 35vh;
		width: 100%;
		padding: 0;
		/*border: 1px solid black;*/
	}
	.secGalleryContentHead h1{
		font-size: 25px;
	}
	.secGalleryContentHead p{
		font-size: 15px;
	}
	.capStyle{
		font-size: 25px;
	}
	.secGalleryDetails{
		height: 35vh;
		width: 100%;
		padding: 0;
		padding-left: 2vh;
		/*border: 1px solid black;*/
	}
	.secGalleryContent {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		/*border: 1px solid black;*/
	}
	.secGalleryContentReverse{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		/*border: 1px solid black;*/
	}
	.z{
	width: 150px;
	height: 150px;
	position: relative;
	margin-bottom: 20px;

	opacity: 0.5;
	transition: 0.5s;
	}
	.secGalleryDetailsText2{
	position: relative;
	bottom: 207px;
	left: 30px;
	}
	.secGalleryDetailsText3{
		position: relative;
		bottom: 414px;
		left: 60px;
	}
	.secGalleryDetailsText4{
		position: relative;
		bottom: 621px;
		left: 90px;
	}
	.secGalleryDetailsText5{
		position: relative;
		bottom: 828px;
		left: 120px;
	}
	.secGalleryDetailsText6{
		position: relative;
		bottom: 1035px;
		left: 150px;
	}
	.secContact{
		height: auto;
		/*border: 1px solid black;*/
	}
	.secContactHead{
		text-align: center;
	}
	.divdiv{
		height: auto;
		width: 100%;
		padding: 20px 0;
	}
	div > iframe {
		width: 350px;
		height: 350px;
	}
  .footerIcon i{
  	font-size: 20px;
  }
  .footerIcon{
  	margin: 0 5px;
  }

  .footerTagline{
  	font-size: 12px;
  	text-align: center;
  }
  .footerContact{
  	flex-direction: column;
  	font-size: 10px;
  }
  .hrstyle{
  	width: 95vw;
  }
  .secContactAll{
  	font-size: 15px;
  	height: auto;
		display: flex;
		flex-direction: column;
  }
  .btnSendQuote{
  	margin-top: 10px;
  }
  .socials{
		display: none;
	}
	.quote{
		display: none;
	}

	#b46Nav > div{
		align-items: left;
		justify-content: left;
	}
	.nav-item > a:hover{
	/*background-color: red;*/
	transform: scale(1.0);
	color:black;
	}

}
